body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  animation-duration: 2s;
  animation-name: show-hide-content;
}

/*buffer*/
.buffer{
  height: 7rem;
}

hr {
   border-color: #FFA500;
   border-width: 3px;
   max-width:  65px;
   animation: show-hide-content 2s;
}

/*button*/
.info-button{
  flex-direction:  column;
  flex-wrap:  wrap;
}


.btn{
font-size:  12px;
border-radius: 16px;
text-transform: uppercase;

}

.btn-xl{
   padding:  10px;
   animation-duration: 4s;
   animation-name: show-hide-content;
}

.btn-primary{
  background-color: #FFA500;
  border-color: #FFA500;
}

.btn-primary:hover {
  background-color: #FF8C00;
  border-color: #FF8C00;
  transform: scale(1.1, 1.1);
  /*animation-name: pulse;*/
  /*position:  relative;
  bottom:  3px;*/
}

.btn-primary:active{
  background-color: #FF7F50;
  border-color: #FF7F50;
  text-decoration: underline overline;
}

a{
  color: white;
}

a:hover{
  color: white;
  text-decoration: none;
}

@keyframes show-hide-content {
  from {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}
